{% extends "base.html" %}
{% load allauth i18n %}
{% block head_title %}
{% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<br><br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">{% trans "Change Password" %}</h1>
                    {% url 'account_change_password' as action_url %}
                    <form method="post" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {{ form|crispy }}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-secondary btn-lg">
                                {% trans "Change Password" %}
                            </button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

