{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br>
<div class="hero-container mt-5">
    <div class="card bg-dark text-white">
        <img src="{% static 'images/bs1.jpg' %}" class="card-img" alt="Barbershop with two barbers at work">
        <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center text-center">
            <h1 class="card-title">Welcome to Barnets Barbershop</h1>
            <p class="card-text">The only destination for style and grooming.</p>
            {% if user.is_authenticated %}
            <a href="{% url 'appointments' %}" class="btn btn-secondary btn-lg mt-3">Book an Appointment</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-secondary btn-lg mt-3">Log in or Sign up to Book an Appointment</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}