{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br><br><br>

<div class="vstack gap-3 text-center">
    <h3 class="p-2 mx-auto">Gallery</h3>
    <img src="{% static 'images/bs3.jpg' %}" class="p-2 mx-auto gal-img" alt="Barber cutting customers hair"></img> 
    <img src="{% static 'images/bs4.jpg' %}" class="p-2 mx-auto gal-img" alt="Close up of a barber cutting a customers hair with scissors"></img>
    <img src="{% static 'images/bs6.jpg' %}" class="p-2 mx-auto gal-img" alt="Barber sparying customers hair with styling product"></img> 
    <img src="{% static 'images/bs7.jpg' %}" class="p-2 mx-auto gal-img" alt="Close up of a barber using sharp edged tool to add arrow design to customers hair"></img>
    <img src="{% static 'images/bs8.jpg' %}" class="p-2 mx-auto gal-img" alt ="Side angle view of customer having beard trim from barber"></img> 
    <img src="{% static 'images/bs12.jpg' %}" class="p-2 mx-auto gal-img" alt ="Barber blow drying customers hair with hairdryer"></img>     
  </div>
{% endblock %}
