{% extends "base.html" %}
{% load static %}

{% block content %}
<br><br><br><br>

<div class="vstack gap-3 text-center">
    <h3 class="p-2 mx-auto">Gallery</h3>
    <img src="{% static 'images/bs3.jpg' %}" class="p-2 mx-auto gal-img"></img> 
    <img src="{% static 'images/bs4.jpg' %}" class="p-2 mx-auto gal-img"></img>
    <img src="{% static 'images/bs5.jpg' %}" class="p-2 mx-auto gal-img"></img>
    <img src="{% static 'images/bs6.jpg' %}" class="p-2 mx-auto gal-img"></img> 
    <img src="{% static 'images/bs7.jpg' %}" class="p-2 mx-auto gal-img"></img>
    <img src="{% static 'images/bs8.jpg' %}" class="p-2 mx-auto gal-img"></img> 
    <img src="{% static 'images/bs9.jpg' %}" class="p-2 mx-auto gal-img"></img> 
    <img src="{% static 'images/bs10.jpg' %}" class="p-2 mx-auto gal-img"></img>
    <img src="{% static 'images/bs11.jpg' %}" class="p-2 mx-auto gal-img"></img> 
    <img src="{% static 'images/bs12.jpg' %}" class="p-2 mx-auto gal-img"></img>     
  </div>
{% endblock %}
