{% extends "base.html" %}
{% block content %}
<!--Appointment content goes here-->
<div class="container"> 
    {% if messages %} 
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <!--Edit Appointment-->
    <ul>
    {% for appointment in appointments %}
    {% if user.is_authenticated and appointment.user == user%}
    <li>
        <h3>Appointment Details</h3>
        <p>{{ appointment.date }}, {{ appointment.time }}, {{ appointment.get_service_display }}</p>    
        <a href="{% url 'appointments_edit' appointment.id %}">Edit </a> &nbsp;
        <a href="{% url 'appointments_cancel' appointment.id %}">Cancel</a>
    </li>
    {% endif %}
    {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <h3>Book your appoinment</h3>
    <p>Signed in as : {{ user.username }}</p>
    <form id="appointmentForm" method="post">
        {% csrf_token %}
        {{ appointment_form }}
        <button type="submit">Submit</button>
    </form>


    {% else %}
    <p>Please <a href="{% url 'account_login' %}">sign in</a> or <a href="{% url 'account_signup' %}">register</a> to
        make and appointment</p>
    {% endif %}
</div>


{% endblock %}
