html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.bg-nav {
    background-color: rgb(38, 73, 212);
  }

  .navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: flex;
    align-items: center;

}

.yo {
  color: red;
}